.App {
  text-align: center;
}
.header{
    border: 2px solid black;
    height: 400px;
    background-color: lightgrey;
}
    .navbar{
        width: 100%;
        height: 50px;
        background-color: yellow;
    }
    .navbar--icon{
        height: 25px;
    }
    .landing-page{
        width: 100%;
    }
    .landing-page--image{
        width: 50%;
        float: left;
    }
    .landing-page--list{
        float: left;
        text-align: left;
    }


.body{

}
    .card{
        width: 100%;
        display: block;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125)
    }
    .card-header{
        padding-left: 10px;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .nav-item{
        background-color: orange;
        float: left;
        padding: 10px;
    }

.footer{
    width: 100%;
    height: 100px;
    float: right;
    border: 2px solid blue;
    background-color: orange;
}
